<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fade 메소드</title>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>
<style>
#fadeToTest{
	opacity:0.4;
}

</style>

</head>
<body>
	<h1>fade() 메소드</h1>
	<p>fadeIn(), fadeOut()</p>
	<button id="inBtn">Fade In</button>
	<button id="outBtn">Fade Out</button>
	<button id="toggleBtn">Fade Toggle</button>
	<img id="flowerImg" src="../images/flower3.PNG" alt="꽃그림">
	<script>
		$(function(){
			$("#inBtn").click(function(){
				$("#flowerImg").fadeIn(1000);
			});
			
			$("#outBtn").click(function(){
				$("#flowerImg").fadeOut(1000);
			});
			
			$("#toggleBtn").click(function(){
				$("#flowerImg").fadeToggle(2000,function(){
					alert("토글이 완료 되었습니다.");
				});
			});
		});
	</script>
	<hr>
	<img id="fadeTest" src="../images/flower5.PNG" alt="꽃그림5">
	<div id="selectDiv" style="width:100px;height:100px;border:1px solid black;">선택 영역</div>
	<script>
		//해당 div에 마우스를 올릴 경우 - 꽃그림5를 안보이게 처리
		//마우스가 나갈 경우 - 이미지가 원래대로 출력 되도록 처리
		$(function(){
			$("#selectDiv").hover(function(){
				$("#fadeTest").fadeToggle(2000);
			});
		});
	</script>
	<hr>
	<h3>fadeTo()</h3>
	<p>명도 설정이 가능 하다</p>
	<img id="fadeToTest" src="../images/river1.PNG" alt="강그림">
	<script>
		$(function(){
			$("#fadeToTest").hover(function(){
				$(this).fadeTo(1000, 1);
			},function(){
				$(this).fadeTo(1000, 0.4);
			});
		});
	</script>
</body>
</html>