<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>객체 탐색</title>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<style>
	.wrap *{
		border : 1px solid lightgray;
		display : block;
		padding: 5px;
		margin:10px;
		color:gray;
	}
</style>
</head>
<body>
<h1>객체 탐색</h1>
<h3>순회 탐색 메소드</h3>
<p>선택된 요소를 상위 요소들을 검색, 선택할수 있는 메소드</p>
<div class="wrap">
	<div class="type">div (레벨1)
		<ul>ul (레벨2)
			<li>li (레벨3)
				<span>span (레벨4)</span>
			</li>
		</ul>
	</div>
	<div class="type">div (레벨1)
		<p>p (레벨2)
			<span>span (레벨3)</span>
		</p>
	</div>
</div>
<script>
	$(function(){
		//바로 위의 요소만 선택
		//$("span").parent().css("border","2px solid red").css("color","red");
		
		//모든 부모 요소들 선택
		//$("span").parents().css("border","2px solid red").css("color","red");
		
		//특정 부모 요소만 선택 하는 방법
		//$("span").parents("ul").css("border","2px solid red").css("color","red");
		
		//부모 객체를 선택 할때 범위를 지정해주는 방법
		//지정 된 기준은 포함하지 않는다.
		$("span").parentsUntil("div").css("border","2px solid red").css("color","red");
	});
</script>











</body>
</html>