<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Button Counter</title>
    <style>
    .data-test2{
        width:100px;
        height:100px;
        margin-right:10px;
        display:inline-block;
        font-size:30px;
        background:rgb(0,255,255)
    }
    .data-test{
        width:100px;
        height:100px;
        margin-right:10px;
        display:inline-block;
        font-size:30px;
        background:rgb(0,255,255)
    }
    </style>
    
</head>
<body>
    <h3>Button Counter 1</h3>
    <button class="data-test2"> 0 </button>
  
    <h3>Button Counter 2</h3>
    <button class="data-test"> 0 </button>
    <button class="data-test"> 0 </button>
    <button class="data-test"> 0 </button>
    <button class="data-test"> 0 </button>
    <button class="data-test"> 0 </button>
</body>
</html>